{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content  %}
<div class="container">
    <!-- nirupama kirana -->
    <h5 class="text-center">Contact US</h5>
    <p class="text-center"></p>
    <img src="/static/images/contact.jpeg" class="rounded mx-auto d-block" alt="..">
</div>

<style>
    body  {
      background-image: url("/static/images/BGI.jpg");
      background-repeat: no-repeat;
      background-size: 1800px,900px;
    }
    </style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}