{% extends "base.html" %}
{% block title %}About us{% endblock %}

{% block content  %}
    <!-- Added your content -->
<div class="container">
    <h5 class="text-center">About US</h5>

    <div class="text-center">
        <img src="../static/images/shiping.jpg" width="300" height="300"  class="rounded" alt="...">
        <h5 class="text-center"> Once you place an order at Happyties, it usually take 7-10 business days to ship.
            
            
            A standard shipping  fee of INR 70/- will be charged on all orders.</h5>
      </div>

      <div class="text-center">
        <img src="../static/images/returns.jpg" width="300" height="300" class="rounded" alt="...">
        <h5 class="text-center">Since our products are carefully handmade and are un-damageable during shipping, we follow a NO RETURN POLICY. 

            ​
            
            However, if you still find an issue with the product, you can mail us at Happyties@gmail.com , along with the details of your complaint. 
            
            Our customer care team will handle the complaint accordingly.
            
            ​ </h5>
      </div>

      <div class="text-center">
        <img src="../static/images/payment-methods.jpg" width="300" height="300" class="rounded" alt="...">
        <h5 class="text-center"> Domestic orders (within India) can be paid through  RazorPay. Once the payment is done, screenshot the payment receipt along with the order number, and once it is accepted, the order is complete.

            ​</h5>
      </div>

</div>

<style>
    body  {
      background-image: url("/static/images/BGI.jpg");
      background-repeat: no-repeat;
      background-size: 1800px,900px;
    }
    </style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}