{% extends "base.html" %}
{% block title %}Title{% endblock %}

{% block content  %}
<main class="container">
     
    <a href="/" class="btn btn-outline-dark my-2 bg-gradient"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg> Back</a>
      
     
      <h3 class="text-center my-3">CATEGORIES</h3>

      </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/images/SCRUNCHIE.jpg"
            class="card-img-top"
            height="234px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">SCRUNCHIES</h5>
            <p class="card-text"></p>
            <p class="card-text"></p>

            <a href="/scrunchie" class="btn btn-outline-success bg-gradient"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              View Scrunchies</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/images/HAIR BOW.jpeg"
            height="234px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">HAIR BOW</h5>
            <p class="card-text"></p>
            <p class="card-text"></p>

            <a href="/hairbow" class="btn btn-outline-success bg-gradient"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              View Hairbow</a
            >
          </div>
        </div>
      </div>

      <style>
        body  {
          background-image: url("/static/images/BGI.jpg");
          background-repeat: no-repeat;
          background-size: 1400px,600px;
        }
        </style>

      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/images/SILVER ACC.jpg"
            class="card-img-top"
            height="234px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">SILVER ACCESSORIES</h5>
            <p class="card-text"></p>
            <p class="card-text"></p>

            <a href="/silver" class="btn btn-outline-success bg-gradient"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              View SILVER ACCESSORIES</a
            >
          </div>
        </div>
      </div>
      
      
    </div>
    
  </main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">

</script>
{% endblock %}